body {
  font-family: "DinPro",sans-serif;
  line-height: 1.8;
  font-size: 20px;
  font-weight: 300;
  margin: 0px;
  padding-top: 80px;
  display: block;
  }

body .text-center {
    text-align: center;
    }

  a {
    color: #000;
  }

  a:hover {
    color: #65b144;
  }

  h1 {
  color: #65b144;
  font-size: 80px;
  font-weight:bold;
  }

 h2 {
   color: #202020;
   font-size: 60px;
   font-weight: lighter;
 }

 h3 {
   color: #3D3D3D;
   font-size: 20px;
 }

 ::selection {
     color: #fff;
     background: #65b144;
   }

.logo-img {
  width: 100px;
  height: auto;
  }

 header .navi > ul li {
   list-style: none;
   display: inline-block;
   margin: 50 20 50 20;
   font-size: 18px;
   text-decoration: none;
  }
  header .navi-logo {
     position: relative;
     font-size: 80px;
     color: #000;
     text-transform: uppercase;
     font-weight: 600;
     letter-spacing: 1px;
     text-decoration: none;
   }

  header .navi a {
     text-decoration: none;
    }

  .dot::after {
    position: relative;;
    content: '';
    top: -26px;
    right: -8px;
    width: 0;
	  height: 0;
	  border-bottom: 12px solid #65b144;
	  border-right: 12px solid transparent;
    margin-right: -12px;
    }
  .dot {
    font-weight: 500;
    }

  ul, menu, dir {
      display: block;
      list-style-type: disc;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0px;
    }
