body {
  font-family: "DinPro",sans-serif;
  line-height: 1.8;
  font-size: 20px;
  font-weight: 300;
  margin: 0px;
  padding-top: 80px;
  display: block;
  }

  * {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  }

 .text-center {
    text-align: center;
    }

  a {
    color: #727272;
  }

  a:hover {
    color: #65b144;
    }

  a:hover, a:visited, a:link, a:active
    {
    text-decoration: none;
    }

  p {
    font-size: 20px;
    line-height: 27px;
    color: #727272;
  }

  .textblock {
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;
  }


  h1 {
  color: #65b144;
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  }

 h2 {
   color: #202020;
   font-size: 40px;
   font-weight: lighter;
 }

 h3 {
   color: #3D3D3D;
   font-size: 30px;
   font-weight: lighter;
 }

 .button {
     background-color: #65b144;
     border: none;
     color: #fff;
     padding: 8px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     cursor: pointer;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     transition: all .2s ease-in-out;
 }
 .button:hover {
   color: #fff;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12),
   0 8px 12px 0 rgba(0,0,0,0.12);
   transform: scale(1.05);
 }

 ::selection {
     color: #fff;
     background: rgba(101, 176, 69, 0.8);
   }

 .grid-img {
    width: 100%;
    height: auto;
    padding: 0px;
    }

.logo-img {
  width: 100px;
  height: auto;
  }

  header .hpadding {
    padding: 80 0 80 0;
    background-color: #fff;
  }

 header .navi > ul li {
   list-style: none;
   display: inline-block;
   margin: 50 20 50 20;
   font-size: 18px;
   text-decoration: none;
  }
  header .navi-logo {
     position: relative;
     font-size: 80px;
     color: #000;
     text-transform: uppercase;
     font-weight: 600;
     letter-spacing: 1px;
     text-decoration: none;
   }

  header .navi a {
     text-decoration: none;
    }

  .dot::after {
    position: relative;;
    content: '';
    top: -26px;
    right: -8px;
    width: 0;
	  height: 0;
	  border-bottom: 12px solid #65b144;
	  border-right: 12px solid transparent;
    margin-right: -12px;
    }
  .dot {
    font-weight: 500;
    }

  ul, menu {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    }

  .parallax {
    background-image: url(images/back.jpg);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    }

  .parallax2 {
    background-image: url(images/work.jpg);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    }

  .parallax3 {
    background-image: url(images/about.jpg);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    }

  .parallax4 {
    background-image: url(images/contact.jpg);
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    }

.spacer {
  height: 1000px; }

.spacer50 {
    height: 50px;
  }
.spacer100 {
      height: 100px;
    }

.spacer150 {
    height: 150px;
  }

.spacer250 {
    height: 250px;
  }

.flex-grid-3 {
  display: flex;
  justify-content: space-between;
}
.flex-grid-3 .col {
  width: 33%;
}
.col {
  text-align: center;
  flex: 3;
}

.clear {
  clear: both;
}

.contactform {
  font-size: 100px;
  line-height: 100px;
  color: #fff;
  text-decoration: overline;
}
.contactform:hover {
  color: #65b144;
  text-decoration: line-through;
}


footer {
  background-image: url("images/footer.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
  padding: 20 0 70 0;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  text-decoration: none;
  padding: 0px;
}

.social {
  position: relative;
  width: 600px;
  left: 50%;
  right: 50%;
  padding-bottom: 80px;
  margin-left: -84px;
}

.social-img {
  vertical-align: top;
  display: inline;
  padding: 8px;
  float: left;
  zoom: 80%;
}

.social-img:hover {
  transform: scale(1.12);
}
